<div class="shown-product">
    <div *ngIf="productInput">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{productInput.name}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <img class="shown-image" [src]="loadedImage">
                <div class="break"></div>
                <div class="product-data">Kiszerelés: {{productInput.num}}</div>
                <div class="break"></div>
                <div class="product-data">Ár: {{productInput.price}}</div>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>
