<div class = "products">
    <table>
        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[0] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[1] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[2] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[3] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>Béres C Max 1500 mg Retpriced filmtabletta csipkebogyó kivonattal + 3000 NE D3-vitamin</td>
            <td>Béres Porcerő Forte filmtabletta</td>
            <td>BioCo Mega C-vitamin 1500 mg retpriced filmtabletta</td>
            <td>JutaVit C-vitamin 1000 mg + D3 + Cink filmtabletta csipkebogyóval</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: 90x</td>
            <td>kiszerelés: 2x90</td>
            <td>kiszerelés: 100x</td>
            <td>kiszerelés: 100x</td>
        </tr>

        <tr class="productPrices">
            <td>ár: 3 899 Ft</td>
            <td>ár: 10 390 Ft</td>
            <td>ár: 4 049 Ft</td>
            <td>ár: 1 833 Ft</td>
        </tr>
        
        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[4] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[5] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[6] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[7] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>Catalase őszülés elleni kapszula</td>
            <td>Corsodyl alkoholmentes szájvíz</td>
            <td>Herbafulvo esszencia</td>
            <td>Herbal Swiss Hot Drink gyógynövény-kivonatokat tpricetalmazó instant italpor</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: 30x</td>
            <td>kiszerelés: 300 ml</td>
            <td>kiszerelés: 750 ml</td>
            <td>kiszerelés: 12x</td>
        </tr>

        <tr class="productPrices">
            <td>ár: 6 490 Ft</td>
            <td>ár: 1 736 Ft</td>
            <td>ár: 5 679 Ft</td>
            <td>ár: 2 861 Ft</td>
        </tr>

        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[8] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[9] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[10] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[11] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>Immunotrofina szirup</td>
            <td>Protexin Balance kapszula</td>
            <td>Salvus gyógyvíz</td>
            <td>Supradyn Energia 50+ filmtabletta</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: 200 ml</td>
            <td>kiszerelés: 60x</td>
            <td>kiszerelés: 1,5 lit.</td>
            <td>kiszerelés: 90x</td>
        </tr>

        <tr class="productPrices">
            <td>ár: 3 399 Ft</td>
            <td>ár: 4 439 Ft</td>
            <td>ár: 678 Ft</td>
            <td>ár: 6 250 Ft</td>
        </tr>
    </table>
</div>
