<div class = "products">
    <table>
        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[0] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[1] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[2] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[3] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>{{productObjects[0].name}}</td>
            <td>{{productObjects[1].name}}</td>
            <td>{{productObjects[2].name}}</td>
            <td>{{productObjects[3].name}}</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: {{productObjects[0].num}}</td>
            <td>kiszerelés: {{productObjects[1].num}}</td>
            <td>kiszerelés: {{productObjects[2].num}}</td>
            <td>kiszerelés: {{productObjects[3].num}}</td>
        </tr>

        <tr class="productPrices">
            <td>ár: {{productObjects[0].price}}</td>
            <td>ár: {{productObjects[1].price}}</td>
            <td>ár: {{productObjects[2].price}}</td>
            <td>ár: {{productObjects[3].price}}</td>
        </tr>
        
        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[4] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[5] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[6] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[7] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>{{productObjects[4].name}}</td>
            <td>{{productObjects[5].name}}</td>
            <td>{{productObjects[6].name}}</td>
            <td>{{productObjects[7].name}}</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: {{productObjects[4].num}}</td>
            <td>kiszerelés: {{productObjects[5].num}}</td>
            <td>kiszerelés: {{productObjects[6].num}}</td>
            <td>kiszerelés: {{productObjects[7].num}}</td>
        </tr>

        <tr class="productPrices">
            <td>ár: {{productObjects[4].price}}</td>
            <td>ár: {{productObjects[5].price}}</td>
            <td>ár: {{productObjects[6].price}}</td>
            <td>ár: {{productObjects[7].price}}</td>
        </tr>

        <tr>
            <td><img class = "productImages" [src]="'assets/' + products[8] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[9] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[10] + '.jpg'"></td>
            <td><img class = "productImages" [src]="'assets/' + products[11] + '.jpg'"></td>
        </tr>

        <tr class="productNames">
            <td>{{productObjects[8].name}}</td>
            <td>{{productObjects[9].name}}</td>
            <td>{{productObjects[10].name}}</td>
            <td>{{productObjects[11].name}}</td>
        </tr>

        <tr class="productNums">
            <td>kiszerelés: {{productObjects[8].num}}</td>
            <td>kiszerelés: {{productObjects[9].num}}</td>
            <td>kiszerelés: {{productObjects[10].num}}</td>
            <td>kiszerelés: {{productObjects[11].num}}</td>
        </tr>

        <tr class="productPrices">
            <td>ár: {{productObjects[8].price}}</td>
            <td>ár: {{productObjects[9].price}}</td>
            <td>ár: {{productObjects[10].price}}</td>
            <td>ár: {{productObjects[11].price}}</td>
        </tr>
    </table>
</div>
